

<md-card>

<h2>The following has been implemented :</h2>
<md-list>
  <md-item >
    <md-item-content>
      <div class="md-tile-left">
      	<md-checkbox aria-label="Completed" class="md-accent" ng-model="menuDone">Left Hand Menu</md-checkbox>
      </div>
      <div class="md-tile-content"></div>
    </md-item-content>
  </md-item>
  <md-item >
    <md-item-content>
      <div class="md-tile-left">
        <md-checkbox aria-label="Completed" class="md-accent" ng-model="vendorInfoPage">Vendor Information Page</md-checkbox>  
      </div>
      <div class="md-tile-content"></div>
    </md-item-content>
  </md-item>
  <md-item >
    <md-item-content>
      <div class="md-tile-left">
        <md-checkbox aria-label="Completed" class="md-accent" ng-model="vendorSearchDone">Vendor Search</md-checkbox>  
      </div>
      <div class="md-tile-content"></div>
    </md-item-content>
  </md-item>
  <md-item >
    <md-item-content>
      <div class="md-tile-left">
        <md-checkbox aria-label="Completed" md-theme="red" class="md-warn" ng-model="vendorSearchResultsDone">Vendor Search Results <span style="font-size: 12px;">(Partially. Mocked angular behavoir)</span></md-checkbox>  
      </div>
      <div class="md-tile-content"></div>
    </md-item-content>
  </md-item>
  
</md-list>


</md-card>